@use '@styles/variable.module.scss' as *;
@use '@styles/mixins.module.scss' as mix;
.container {
    @include mix.flex_box_custom(space-between, start);
    flex-direction: column;
    width: 400px;
    height: 100vh;
    background-color: $primary-color;
    padding: 20px;
    .nav_menu_container {
        @include mix.flex_box_custom(center, center, 20px);
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid $sky-blue;
        padding-bottom: 20px;
        flex: 1;
        h1 {
            margin-top: 20px;
            color: $white;
            font-size: 32px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 40px;
        }
        .nav_menu {
            width: 100%;
            @include mix.flex_box_custom(center, center, 20px);
            flex-direction: column;
            margin-bottom: auto;
            .nav_item {
                @include mix.flex_box_custom(start, center, 20px);
                width: 100%;
                padding: 20px 10px;
                cursor: pointer;
                transition: $transition-fast;
                font-size: 18px;
                color: $sky-blue;
                .active {
                    background-color: $secondary-color;
                    border-radius: 8px;
                }
                &:hover {
                    background-color: $accent-color;
                    border-radius: 8px;
                    color: $black;
                    transform: scale(1.05);
                }
                svg {
                    font-size: 24px;
                }
            }
        }
        button {
            margin-bottom: 20px;
        }
    }

    .nav_footer {
        margin-top: auto;
        width: 100%;
        padding: 20px;
        .footer_info {
            @include mix.flex_box_custom(center, center, 20px);
            flex-direction: column;
            width: 100%;
            .footer_info_item {
                @include mix.flex_box_custom(start, center, 20px);
                width: 100%;
                padding-top: 10px;
                cursor: pointer;
                transition: $transition-fast;
                font-size: 18px;
                color: $sky-blue;
                svg {
                    font-size: 28px;
                }
                &:hover {
                    border-radius: 8px;
                    color: $white;  
                    transform: translateY(-5px) scale(1.05);
                }
            }
        }
    }
}
